<!DOCTYPE html>
<html>
<head>
	<title>Python Starter Application - Upload/Download File</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<center>
<h2>File Upload</h2>
<form action="/upload" method="POST" enctype="multipart/form-data">
<table caption="File Upload/Download">
<tr>
<td>File to be Uploaded:</td>

<td><input type="file" name="file_upload" required></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="submitbutton" value="Upload File to Bluemix"/></td>
</tr>
</table>
</form>
</center>
</body>
</html>